@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("farmingppl.jpeg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  font-family: "Work Sans", sans-serif;
}
.navbar-brand img {
  margin-left: 5px;
  margin-right: 5px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  padding: 300px;
}
