@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("farmingppl.jpeg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  font-family: "Work Sans", sans-serif;
}
.navbar-brand img {
  margin-left: 5px;
  margin-right: 5px;
}

.about-container {
  margin: 70px;
  margin-top: 70px;
}

.about-container h1 {
  text-align: center;
  color: #660000;
}
.about-container h2 {
  text-align: center;
  letter-spacing: -5px;
  color: #660000;
}
.about-container h4 {
  margin-bottom: 10px;
  margin-top: 20px;
  color: #660000;
}
.about-container div div {
  width: 85%;
  color: rgb(75, 75, 75);
}

.about-container h4 img {
  background-color: white;
}
